.quest-button {
    border: 2px solid gray;
    display: block;
    margin-bottom: 1rem;
    align-items: center;
    transition: border-color 0.25s;
}
.quest-button:hover {
    border-color: white;
}

.quest-button img {
    max-width: 100px;
    height: auto; 
    margin-left: 15px;
}

.quest-button h1 {
    margin: 12px 25px 10px 25px; 
}

.quest-button h2 {
    margin: 5px 25px 15px 25px;
}